body{
    background-color: rgb(242, 242, 242);
}

#MeusDados{
    margin-top: 10%;
    background-color: white;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#MeusDados .photo{
    width: 150px;
    height: 150px;
    border: solid 1px;
    border-radius: 50%;
    margin-left: 3%;
    border-color: gray;
}

#MeusDados .linha{
    height: 115px;
    border: solid 1px;
    margin-left: 3%;
    margin-right: 3%;
}

#MeusDados .contatos{
    display: flex;
    flex-direction: column;
}

#MeusDados .redes{
    display: flex;
}

#MeusDados .Fonte{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#MeusDados .logo{
    width: 30px;
    height: 30px;
}