body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.back {
    background-image: url('imagens/backPortfolio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}

#MeusDados {
    margin-top: 3%;
    background-color: rgb(28, 28, 28);
    height: 260px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
}

.photo {
    width: 150px;
    height: 150px;
    border: solid 1px;
    border-radius: 25%;
    border-color: gray;
}

.linha {
    height: 115px;
    border: solid 1px;
    margin-left: 3%;
    margin-right: 3%;
    color: white;
}

.textoNome{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.textoDados{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.redes{
    display: flex;
    flex-direction: row;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.dados{
    color: white;
    text-align: center;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.contatos{
    color: white;
}

#Academico {
    margin-top: 3%;
    background-color: rgb(28, 28, 28);
    height: 260px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.dadosAcademicos{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dadosHabilidades{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.formacao{
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.fonteHabilidades{
    margin-bottom: 25px;
}

.butoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}

.butt {
    background-color: #0d6efd;
    border-radius: 5px;
    width: 90px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Projetos {
    margin-top: 3%;
    background-color: rgb(28, 28, 28);
    height: 260px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.fonteProjetos{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.projetos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fotoProjetos{
    width: 125px;
    height: 100px;
}

.favela {
    padding: 10px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content {
    background-color: #343a40;
    color: white;
}
  
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  